<head>
	<meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">

	<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
	<meta name="theme-color" content="#8dd8cf">
	{% if page.image %}<meta property="og:image" content="{{ '/images/pages/' | prepend: site.baseurl | prepend: site.url }}{{ page.image }}" />{% endif %}
	{% if page.image-width %}<meta property="og:image:width" content="{{ page.image-width }}" />{% endif %}
	{% if page.image-height %}<meta property="og:image:height" content="{{ page.image-height }}" />{% endif %}

	<link href="{{ '/images/favicon-256.png' | prepend: site.baseurl | prepend: site.url }}" rel="icon" type="image/png" sizes="256x256">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Lora:400,400italic" rel="stylesheet" type="text/css">
	<link href="http://cassidyjames.com/grid.css/grid.css" rel="stylesheet" type="text/css" media="all">
	<link href="{{ '/styles/main.css' | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all">
</head>
