// _vars.scss

/* FONTS
	font-family: "Montserrat", sans-serif;
	font-family: "Lora", serif;
*/

$sans: "Montserrat", sans-serif;
$serif: "Lora", serif;

$turquoise: #8dd8cf;
$dark-gray: #5e6060;
$light-gray: #999;
$white: #fff;

$rem: 17.5px;

$base-font-size: 100% !default;
$base-line-height: 150%;
