/* CSS main stylesheet */

/* FONTS
 	font-family: "Montserrat", sans-serif;
	font-family: "Lora", serif;
*/

/* COLORS
	Turquoise:  #69B288;
	Mint:       #9FDDBD;
	Olive:      #91973F;
	Dark Brown: #382923;
*/

/**{
	outline: 1px dotted rgba(255,0,0,.25);
}*/

html,
body {
	background-color: white;
	background-image: url(../images/speckletone-bg.png);

	color: #382923;
	font-family: "Lora", serif;
	font-size: 18px; /* 1rem */
}

header.main {
	max-width: 400px;
	margin: 2em auto;
}

header.main > * {
	color: transparent;
	font-size: 0px!important;
}


hr {
	height: 1px;
	max-width: 1280px;
	position: relative;
	width: 90%;

	background-color: #91973F;

	border: 0;
}

	hr::before,
	hr::after {
		display: block;
		bottom: -7px;
		height: 13px;
		position: absolute;
		width: 23px;

		background: url(../images/floral-motif-line-break.svg);
		background-size: 23px 13px;

		content: "";
	}

	hr::before {
		left: -22px;
	}

	hr::after {
		right: -22px;

		transform: scaleX(-1);
	}

nav.main {
	text-align: center;
}

	nav.main a {
		display: inline-block;
		padding: 0.5em 0.75em;

		color: #382923;
		text-decoration: none;
		text-transform: lowercase;
	}

.grid {
	margin: 0 auto;
	max-width: 1280px;
}

	.grid > * {
		padding: 0.75em;
	}

img {
	display: block;
	width: 100%;
}

.thumbs a {
	color: #999;
	font-style: italic;
	line-height: 3em;
	text-align: center;
	text-decoration: none;
}

/* Smablet-up screens (larger than most phones) */
@media only screen and (min-width: 640px) {
	header.main h2::before,
	header.main h2::after {
		width: 110px;

		background-image: url(../images/floral-motif-smablet.svg);
	}

		header.main h2::before {
			left: -125px;
		}

		header.main h2::after {
			right: -125px;
		}
}


/* Medium-up screens (larger than a small tablet) */
@media only screen and (min-width: 768px) {
	header.main h1 {
		font-size: 60px;
	}

	header.main h2 {
		font-size: 48px;
	}

	header.main h2::before,
	header.main h2::after {
		width: 141px;

		background-image: url(../images/floral-motif-tablet.svg);
	}

		header.main h2::before {
			left: -155px;
		}

		header.main h2::after {
			right: -155px;
		}

	.grid > * {
		padding: 1.5em;
	}
}


/* Large-up screens (larger than an iPad landscape) */
@media only screen and (min-width: 1025px) {

}


/* XLarge-up screens (larger than 1440x900) */
@media only screen and (min-width: 1441px) {

}


/* XXLarge-up screens (larger than 1080p) */
@media only screen and (min-width: 1921px) {

}
